USE [master]
GO
/****** Object:  Database [SiteCoreLibrary]    Script Date: 21.07.2018 17:26:51 ******/
CREATE DATABASE [SiteCoreLibrary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SiteCoreLibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\SiteCoreLibrary.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SiteCoreLibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\SiteCoreLibrary_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SiteCoreLibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SiteCoreLibrary]
GO
/****** Object:  Table [dbo].[AutorBook]    Script Date: 21.07.2018 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorBook](
	[autorID] [int] NULL,
	[bookID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Autors]    Script Date: 21.07.2018 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_AUTORS] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Books]    Script Date: 21.07.2018 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_BOOKS] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserBook]    Script Date: 21.07.2018 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBook](
	[bookID] [int] NULL,
	[userID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.07.2018 17:26:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[userEmail] [varchar](50) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AutorBook]  WITH CHECK ADD  CONSTRAINT [FK_BOOKSAUT_RELATIONS_AUTORS] FOREIGN KEY([autorID])
REFERENCES [dbo].[Autors] ([id])
GO
ALTER TABLE [dbo].[AutorBook] CHECK CONSTRAINT [FK_BOOKSAUT_RELATIONS_AUTORS]
GO
ALTER TABLE [dbo].[AutorBook]  WITH CHECK ADD  CONSTRAINT [FK_BOOKSAUT_RELATIONS_BOOKS] FOREIGN KEY([bookID])
REFERENCES [dbo].[Books] ([id])
GO
ALTER TABLE [dbo].[AutorBook] CHECK CONSTRAINT [FK_BOOKSAUT_RELATIONS_BOOKS]
GO
ALTER TABLE [dbo].[UserBook]  WITH CHECK ADD  CONSTRAINT [FK_USERSBOO_RELATIONS_BOOKS] FOREIGN KEY([bookID])
REFERENCES [dbo].[Books] ([id])
GO
ALTER TABLE [dbo].[UserBook] CHECK CONSTRAINT [FK_USERSBOO_RELATIONS_BOOKS]
GO
ALTER TABLE [dbo].[UserBook]  WITH CHECK ADD  CONSTRAINT [FK_USERSBOO_RELATIONS_USERS] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserBook] CHECK CONSTRAINT [FK_USERSBOO_RELATIONS_USERS]
GO
USE [master]
GO
